<section id="login-container"
         class="body-row-color">
    <div class="container">
        <div class="sub-container"
             ng-controller="LoginCtrl">

            <h5 class="text-center error-message">
                {{ model.errorMessage | translate }}
            </h5>

            <form id="login-form"
                  class="text-center"
                  autocomplete="off"
                  autocorrect="off"
                  autocapitalize="off"
                  ng-show="model.showLoginForm"
                  ng-submit="submit()">
                <fieldset class="login-fields text-center">

                    <div class="inline-block mobile-full">
                        <label for="username">
                            {{ 'LOGIN_FORM_USERNAME' | translate }}
                        </label>
                        <input id="username"
                               autofocus="true"
                               type="text"
                               size="13"
                               autocomplete="off"
                               autocorrect="off"
                               autocapitalize="off"
                               ng-model="model.username"/>
                    </div>

                    <div class="inline-block mobile-full">
                        <label for="password">
                            {{ 'LOGIN_FORM_PASSWORD' | translate}}
                        </label>
                        <input id="password"
                               type="text"
                               size="13"
                               autocomplete="off"
                               autocorrect="off"
                               autocapitalize="off"
                               ng-model="model.password"/>
                    </div>

                    <div class="inline-block mobile-full">
                        <input id="submit"
                               class="button"
                               type="submit"
                               value="{{'LOGIN_LOGIN_BUTTON' | translate}}"/>
                    </div>

                </fieldset>
            </form>

            <div class="narrow-row clear">
              <div class="left mobile-full">
                <small>
                  <button id="privacy-policy-button"
                          class="narrow-button"
                          ng-show="model.patientPrivacyPolicy"
                          ng-click="showPatientPrivacyPolicy()">
                    {{ 'PATIENT_PRIVACY_POLICY' | translate }}
                </small>
              </div>
            </div>

            <div id="light-box-dimmer"
                 class="light-box-dimmer"
                 ng-show="model.showPopup">
              <div id="light-box"
                   class="light-box-large">
                <h4>{{"PATIENT_PRIVACY_POLICY" | translate}}</h4>
                <div class="block text-left very-small">{{ model.patientPrivacyPolicy }}</div>
                <button id="light-box-continue-button"
                        class="block narrow-button"
                        ng-click="hidePatientPrivacyPolicy()">
                  {{ 'OK' | translate }}
                </button>
              </div>
            </div>

        </div>
    </div>
</section>

<footer>
    <small>OpenTele: v<span version></span>, server: <span server></span></small>
</footer>
