<section id="links-categories-container"
         class="body-row-color">
    <div class="container">
        <div class="sub-container"
             ng-controller="LinksCategoriesCtrl">

            <div class="text-center links-categories-container">

                <h2 id="categories-heading">{{'LINKS_CATEGORIES_HEADING' | translate}}</h2>

                <h5 id="no-links-categories"
                    ng-hide="model.categories.length > 0">
                    {{'LINKS_CATEGORIES_NO_LINKS_CATEGORIES' | translate}}
                </h5>

                <nav id="links-categories-list"
                     class="text-center list-container"
                     ng-show="model.categories.length > 0">
                    <ul class="list-unstyled">
                        <li id="links-categories-items"
                            ng-repeat="linksCategoryRef in model.categories">
                            <a href=""
                               class="button"
                               ng-click="showLinksCategory($index)">
                                {{linksCategoryRef.name}}
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>

        </div>
    </div>
</section>
